<h1>Add a Coach <%= @coach.name %></h1>



<%= form_for @coach do |f|  %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :college %>
<%= f.text_field :college %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.submit %>

<% end %>